* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  height: 100vh;

  display: flex;
}

.left {
  width: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.right {
  width: 50vw;

  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left img {
  height: 80vh;
  width: 40vw;
}
#greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#login form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 70%;
}

#login input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f8f8f8;
}

.igroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 4px;
}

.passbox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#forget {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  color: darkblue;
  cursor: pointer;
}
#loginBtn {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: rgb(26, 174, 255);
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.registerbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding-top: 8px;
  justify-content: center;
}

#register {
  border: none;
  background-color: transparent;
  color: rgb(26, 174, 255);
  cursor: pointer;
}

#login {
  width: 100%;
  display: flex;
  justify-content: center;
}

#greeting h2 {
  font-size: 28px;
  font-weight: bold;
}

#greeting p {
  color: grey;
}
